.sectionHead {
	color:blue;
	margin-bottom: 4px;
}

.paragraphText {
	margin-bottom: .5em;
}

.postFade {
	color:gray;
}

.titleClick {
	color:inherit;
}

.titleClick:hover {
	color:inherit;
}

.postImage {
	width:100%;
	margin:.2em;
}